/* header */
header {
  padding:10px;
}

#nav-drawer {
  position: relative;
}

.nav-unshown {
  display:none;
}

#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: black;
  display: block;
  content: '';
  cursor: pointer;
}

.fa.fa-align-justify{
  font-size: 45px;
  cursor: pointer;
}


#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}


#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}


#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#header{
  display: flex;
}

.header-right{
  margin-left:auto;
  line-height: 70px;
}

.fa.fa-user{
  font-size:45px;
  color:black;
}
.fas.fa-shopping-cart{
  font-size:45px;
  color:black;
}



.dropdown{
  position: relative;
  right: 7px;;
}

.dropdown-btn{
  display: block;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  text-align: left;
}

.dropdown-btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.category-item.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.brand-item.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.dropdown-body {
  display: none;
  width: 130px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  position: absolute;
  top: 45px;
  left: 0;
}
.dropdown-category{
  display: none;
  width: 100px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top:57px;
  left: 0;
}
.dropdown-brand {
  display: none;
  width: 100px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 115px;
  left: 0;
}

.dropdown-btn.is-open + .dropdown-body {
  display: block;
  z-index: 5;
}
.category-item.is-open + .dropdown-category {
  display: block;
  z-index: 5;
}
.brand-item.is-open + .dropdown-brand {
  display: block;
  z-index: 5;
}

.dropdown-list {
  margin: 0;
  padding: 0;
  border: 1px solid gray;
}

.category-item {
  display: block;
  text-align: center;
  border-bottom: 1px solid gray;
  color: gray;
  background: white;
  border: none;
  width: 100%;
}

.category-item p{
  margin: 0;
  color: gray;
}

.brand-item {
  display: block;
  text-align: center;
  color: gray;
  background: white;
  border: none;
  border-top: 1px solid gray;
  width: 100%;
}

.brand-item p{
  margin: 0;
}

.dropdown-list li{
  border-bottom: 1px solid gray;
  text-align: center;
  color: gray;
}
.dropdown-list a{
  color: gray;
  font-size: 12px;
}

.rakuten{
  color: black;
  font-size: 50px;
  margin-right: 15px;
}

.rakuten:hover{
  color: black;
}

/* header */
.container{
  text-align: center;
}

.title{
  font-size:75px;
  text-align: center;
  font-weight: 500;
  font-family: serif;

}

.p1{
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin: 70px;;
}

.p2{
  font-size: 20px;
  text-align: center;
  background: black;
  color: white;
  padding: 25px;
  margin: 70px;
  
}

.p3{
  font-size: 77px;
  text-align: center;
  font-weight: 500;
  font-family: serif;
  color: black;
}

.home{
  color: black;
}

.home:hover{
  text-decoration:none;
  color: black;
}

.short-line{
  width: 100px;
  margin:0px auto 100px auto;
  border-bottom:1px solid black;
}

/* main */
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.product-list-part{
  margin-bottom: 50px;
}

.product-name{
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
  margin:10px 0 0 0 ;
}

.product-price{
  font-size: 25px;
  color: gray;
  text-align: left;
}
.product-stock{
  font-size: 25px;
  color: rgb(224, 61, 61);
  text-align: left;
}
/* main */

/* footer */
.footer-p{
  font-size: 15px;
  font-family:initial;
  margin-top: 185px;
  text-align: center;
}
/* footer */

/* topに戻るボタン */

.page-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 99;
}
.page-top:hover{
  cursor: pointer;
}
  
.page-top{
	width: 65px;
	height: 65px;
}

.page-top2{
  width: 65px;
  height: 65px;
}
/* topに戻るボタン */


/* ログインフォーム */
.login-body{
  text-align: center;
  margin:0;
  font-family: monospace;
}

.login-p{
  font-size: 40px;
  line-height: 110px;
}

.logout-p,.logout-a{
  font-size: 20px;
}

.login-form{
  background: darkgray;
  text-align: center;
  width: 580px;
  margin: 0 auto 100px auto;
  border-radius: 10px;
  padding: 30px 0 30px 0;
  box-shadow: 3px 3px 9px rgb(72, 83, 115);
}

.mail-p {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.pass-p{
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.pass{
  border-radius: 5px;
  border: none;
  overflow: visible;
  margin-bottom: 20px;
}

.mail{
  border-radius: 5px;
  border: none;
  overflow: visible;
  margin-bottom: 20px;
}

.login{
  cursor: pointer;
  font-size: 20px;
  padding: 7px 25px;
  font-weight: bold;
  border-radius:5px ;
  border: none;
}

.member-p{
  font-size: 20px;
  margin:20px 0 0 0;
  font-weight: bold;
}

.shop-home{
  margin: 25px 0 ;
  border: none;
  background: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px 40px
}
/* ログインフォーム終了 */

/* カートの中身 */

.continue-p{
  margin: 0 auto 0 auto;
  padding: 19px;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}

.continue-buy:hover{
text-decoration: none;
}

.cartlook-p{
  font-size:25px;
  margin-bottom:50px;
  color:dimgray;
}
.cartlook-a{
  font-size:20px;  
  text-decoration:none
}

.shopping-cart{
  margin: 55px auto 55px auto;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #b1acac;
  border-top: 1px solid #b1acac;
  font-weight: bold;
}

.cart{
  text-align: center;
}

.cart-product-part{
  display: flex;
  margin: 0 auto 0 auto;
  border-top: 1px solid #b1acac;
  border-bottom: 1px solid #b1acac;
  padding: 25px;
}

.buy-product{
  text-align: center;
  font-size: 25px;
}

.product-name{
  margin: 25px 0 20px 0px;
}

.delet{
  margin-left: 15px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0px 15px;
}

.totalpay{
  border-top:1px solid #b1acac;
  border-bottom:1px solid #b1acac;
  padding:25px;
}

.pay{
  display: flex;
  margin:0 auto;
}

.pay-left{
  font-size:30px;
}

.pay-right{
  font-size:30px;
  margin-left:auto;
}

.total{
  display: flex;
  padding:25px;
}

.total-part{
  font-weight: bold;
}

.total-pay{
  font-size: 40px;
  font-weight: bold;
  margin-left:auto;
}

.guest-buy{
  margin: 50px 0 100px 0;
}

.guest-buy-a{
  background: black;
  color: white;
  padding: 20px 100px;
  font-weight: bold;
  border-radius: 50px;
}

.guest-buy-a:hover{
  color: white;
  text-decoration:none;
}

/* カートの中身終了 */

/* 注文登録フォーム */
.shop-form{
  background: lightgrey;
  text-align: center;
  width: 580px;
  margin: 0 auto 100px auto;
  border-radius: 10px;
  padding: 30px 0 30px 0;
  box-shadow: 3px 3px 9px #e7e7e7;
}

.form-p-firts{
  padding-top: 49px;
  font-size: 25px;
  font-family: monospace;
  margin: 0;
  border-top: 1px solid #b6acacac;
}

.form-p{
  font-size: 20px;
  font-family: monospace;
  margin: 0;
}

.form-input{
  width:500px;
  border-radius: 5px;
  border: 1px solid #b6acacac;
  margin: 10px 0;
}

.btns{
  border: none;
  background: white;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
}
/* 注文登録フォーム終了 */

/* 注文登録フォームチェック画面 */
.check-p{
  font-size: 20px;
  font-family: monospace;
  margin: 0;
}

.check-btn{
  border: none;
  background: white;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
  margin-right: 5px;;
}

.check-form{
  background: lightgrey;
  text-align: center;
  width: 580px;
  margin: 50px auto 70px auto;
  border-radius: 10px;
  padding: 30px 0 30px 0;
  box-shadow: 3px 3px 9px #e7e7e7;
}
/* 注文登録フォームチェック画面終了 */

/* 注文登録フォーム最終画面 */
.form-done{
  background: lightgrey;
  text-align: center;
  width: 580px;
  margin: 50px auto 70px auto;
  border-radius: 10px;
  padding: 30px 0 30px 0;
  box-shadow: 3px 3px 9px #e7e7e7;
}

.done-submit{
  border: none;
  background: lightgray;
  color: dodgerblue;
}

.buy-finish-img{
  display: flex;
  border-top: 1px solid #b6acacac;
  border-bottom: 1px solid #b6acacac;
  padding: 25px;
  margin-bottom: 40px;
}

.finish-product-part{
  margin-left: 40px;
  line-height: 51px;
}

.finish-product-about{
  font-size: 18px;
  text-align: left;
}

.finish-pay{
  display: flex;
  padding: 25px;
  margin-bottom: 40px;
}

.finish-money{
  font-size: 40px;
  color: gray;
  margin-right:80px;
}

.finish-money2{
  font-size: 40px;
}

.order-detail{
  border-radius: 7px;
  color: white;
  background: dodgerblue;
  padding: 25px 200px;
  border: none;
}
.order-detail:hover{
  color: white;
  text-decoration: none;
}

.delet-home{
  margin: 100px 0 100px 0;
  border: none;
  background: lightgray;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px 215px;
}
/* 注文登録フォーム最終画面 終了*/

/* 注文詳細画面 */
.order-detail-title{
  background: lightgray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: gray;
  font-size: 25px;
  padding: 15px;
  margin-top: 45px;
}

.detail{
  display: flex;
  flex-direction: column;
}

.orders-detail{
  display: inline-flex;
  margin: 20px 0 0 20px;
}

.detail-p-left{
  font-size: 25px;
  color: gray;
  margin: 0 65px 0 0;
}
.detail-p{
  font-size: 25px;;
}
.order-addres{
  text-align: left;
}
/* 注文詳細画面 */

/* 商品詳細画面 */
.product-detail-img{
  display: flex;
  flex-wrap: wrap;
}

.product-detail-about{
  text-align: left;
  margin:70px auto;
  max-width: 940px;
}

.name-h1{
  font-size:45px;
}

.price{
  font-size: 30px;
  color: gray;
}

.product-detail-p{
  font-size: 30px;;
}


.cart-a:hover{
  text-decoration: none;
  color: white;
}

.product-cart-p{
  border-radius: 10px;
  background: black;
  color: white;
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-detail-btn{
  background: darkgray;
  padding: 20px 120px;
  margin: 50px 0 60px 0;
  border: none;
  color: white;
  border-radius: 10px;
}

.fa-icon{
  border-radius: 3px;
  background: cornflowerblue;
  color: white;
  vertical-align: 3.5px;
  padding: 2px 8px;
  margin-left: 10px;
  font-size: 12.5px;
}
.fab.fa-facebook-square{
  color: white;
  margin-right: 6px;
}


#slide_show {
  width: 63%;
  max-width: 940px;
	overflow: hidden; 
	position: relative;
	margin: 0 auto;
}
.slide {
	width: 10000px;
	list-style: none;
}
.slide li{
  float: left;
  width: 665px;	
}


.nav_btn .prev {
	position: absolute;
  left:40px;
  font-size: 50px;
	top:50%;
	margin-top: -25px;
}
.nav_btn .prev:hover{
  cursor: pointer;
}
.nav_btn .next {
	position: absolute;
  right:0px;
  font-size: 50px;
	top:50%;
	margin-top: -25px;
}
.nav_btn .next:hover{
  cursor: pointer;
}
/* 商品詳細画面の終了 */

/* ナビゲーションの中身 */
.nav-content{
  text-align: left;
  line-height: 55px;
  padding: 50px;
}

.nav-a:hover{
  text-decoration: none;
}

.nav-contents{
  font-size: 40px;
  color: gray;
  font-family: serif
}
.nav-contents2{
  font-size: 40px;
  color: gray;
  font-family: serif
}
/* ナビゲーションの中身 */

/* ナビゲーションの中身 ABOUT */
.about-title{
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  font-family: serif;
  color: black;
  margin-top: 100px;
}

.about-contents{
  line-height: 50px;
  margin-bottom: 70px;
}

.about-p{
  font-size: 25px;
}
/* ナビゲーションの中身 ABOUT */

/* ナビゲーションの中身 CONTACT */
.contact-title{
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  font-family: serif;
  color: black;
  margin-top: 100px;
}

.contact,.contact-part{
  font-size:20px;
}

.contact-submit{
  background:black;
  color:white;
  margin:35px 0;
}

.contact-input{
  border-radius: 5px;
  margin-bottom: 25px;
  width: 335px;
  padding: 5px;
  border: none;
  background: lightgray;
}

.contact-textarea{
  border: none;
  background: lightgray;
  border-radius: 5px;
  margin-bottom: 25px;
}

.done-p{
  font-size:20px
}


/* ナビゲーションの中身 CONTACT */

/* rakuten api */
.rakuten-icon{
  width: 100%;
}
.API{
  text-align: left;
}

.rakuten-text{
  font-size: 20px;
}
.rakuten-main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rakuten-item{
  width: 21%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.rakuten-img{
  width: 185px;
  height: 170px;
}

.prev-btns{
  padding: 10px 40px;
  background: lightgray;
  border-radius: 5px;
  color: black;
  margin-right: 15px;
}
.prev-btns:hover{
  text-decoration: none;
  color: black;
}
.next-btns{
  padding: 10px 40px;
  background: lightgray;
  border-radius: 5px;
  color: black;
  margin-right: 15px;
}
.next:hover{
  text-decoration: none;
  color-btns: black;
}

.home-btn{
  padding: 5px 40px;
  background: lightgray;
  border-radius: 5px;
  color: black;
  margin-left: 45px;
}
.home-btn:hover{
  text-decoration: none;
  color: black;
}

.serch-count{
  margin-bottom: 40px;
}

.footer-part1{
  display: flex;
  font-size: 20px;
}

.footer-rakuten1{
  margin: 0;
  margin-top: 90px;
  font-size: 20px;
}
.footer-rakuten{
  margin: 0;
  font-size: 20px;
  width: 80%;
}

.footer-rakuten{
  margin: 0;
  font-size: 20px;
  width: 80%;
}

.rakuten-footer-img{
  width: 390px;
}

